html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f5f2f0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header header"
    "li1 li2"
    "li3 li4";
}

h1 {
  padding: 1rem 1rem .5rem;
  margin: 0;
  font-family: "Denk One", sans-serif;
  color: #623b0c;

  grid-area: header;
}

ol {
  padding: 0;
  margin: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

ol li {
  width: 28em;
  padding: 1rem;
  gap: 1rem;
  border: 2px;
  border-color: #623b0c;
  border-radius: 8px;
}

li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #ede3db;
}

li:first-child {
  padding: 1rem;
  grid-area: li1;
}

li:nth-last-child(3) {
  grid-area: li2;
}

li:nth-last-child(2) {
  gap: 1rem;
  grid-area: li3;
}

li:last-child {
  gap: 1rem;
  grid-area: li4;
}

h2 {
  padding: 0 0 1rem;
  margin: 0;
  font-family: "Denk One", sans-serif;
  color: #623b0c;
}

a {
  text-decoration: none;
  color: #fff;
  background-color: #623b0c;
  padding: .5em .75em .6em;
}

img {
  width: 100%;
}

p {
  padding: 1rem 0 1.5rem;
  flex-grow: 1;
}
