html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

main {
  background-color: #f5f2f0;
}

h1 {
  padding: 1rem 1rem .5rem;
  margin: 0;
  font-family: "Denk One", sans-serif;
  color: #623b0c;
}

ol {
  padding: 1rem;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

ol > li {
  border: 2px solid #623b0c;
  padding: 1rem;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #ede3db;
}

h2 {
  padding: 0 0 1.5rem;
  margin: 0;
  font-family: "Denk One", sans-serif;
  color: #623b0c;
}

a {
  text-decoration: none;
  color: #fff;
  background-color: #623b0c;
  border-radius: 8px;
  padding: .5em .75em .6em;
}

img {
  width: 100%;
}

p {
  padding: .5em 0;
  flex-grow: 1;
}
